body{
	margin: 0;
	font-family: 'Times New Roman', 'Arial', sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: #e70c19;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

h1, h2{
  	font-family: "Press Start 2P", system-ui;
  	font-weight: 400;
 	font-style: normal;
}

/* ctrl + / to type a comment */

header h1{
	color: white;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 10px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

footer{
	margin: 0 auto;
}

h2{
	font-size: 30px;
	color: #e70c19;
	margin: 40px 0 10px;
}

a{
	color: #e70c19;
}

a:hover{
	color: white;
	background-color: #483a94;
}

span1{
	color: blue;
}

footer{
	background-color: #e70c19;
	text-align: center;
	color:white;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: 0.5;
	background-color: transparent;
}

p.caption{
	color: grey;
	font-style: italic;
	margin-top: 0;
}