body{
	margin: 0;
	font-family: 'Times New Roman', 'Arial', sans-serif;
}

header{
	background-color: orange;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

header h1{
	color: white;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 10px solid white;
}

h1, h2{
  	font-family: "Press Start 2P", system-ui;
  	font-weight: 400;
 	font-style: normal;
}