body{
	background-color: lightgrey;
}
h1{
	font-size: 50px;
	color:#FF0000;
}
h2{
	font-size: 30px;
	color:#0000FF;
}
.big{
	text-transform: uppercase;
}
span{
	text-transform: lowercase;
}
h1 span{
	color: #FFFF00;
}